/* -----------------------------------------
* VARIABLES
-------------------------------------------*/

// Colors
$col-dark: #111; // bg active | bg logo

$col-gray-900: #333; // button | text
$col-gray-700: #adadad; // text muted
$col-gray-500: #cecece; // player border
$col-gray-300: #e5e5e5; // active | hover

$col-light: #f2f2f2; // player bg
$col-orange: #f50;


// Layout
$layout-navbar: 50px;
$layout-player: 50px;