/* -----------------------------------------
* GENERICS
-------------------------------------------*/
@use '../vars' as *;


html {
    font-size: 14px;
}

body {
    color: $col-gray-900;
}


a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}